<!doctype html>
<html>
	<head>
		<title>Breadland!</title>
		<link rel="stylesheet" href="breadland_styles.css">
	</head>
	<body>
		<img src="/bread.webp" alt="bread" style="width:1000px;height:100px">
		<h1>Welcome to Breadland!</h1>
		<p id="subtitle">The #1 site for all things bread</p>
		<br>
		<h3>Latest Bread News</h3>
		<table>
			<tr>
				<th>Date</th>
				<th>News</th>
			</tr>
			<tr>
				<td>13/7/853</td>
				<td>Bread is invented. This surely a fad and I will not create an entire website dedicated to it.</td>
			</tr>
			<tr>
				<td>13/4/1136</td>
				<td>Some barbarian swung his sword through a loaf of bread several times, turning the bread into several slices. What blasphemy!</td>
			</tr>
			<tr>
				<td>2/9/1362</td>
				<td>A British nobleman put two slices of bread around a cow. This strange new delicacy has not been named, but some people are calling it the Pebblewich.</td>
			</tr>
			<tr>
				<td>25/1/1421</td>
				<td>Is bread green? Researchers have found evidence to suggest that it isn't.</td>
			</tr>
			<tr>
				<td>21/3/2024</td>
				<td>This website is been born! All praise Breadland!</td>
			</tr>
		</table>
		<div id="newsform">
			<form action="https://www.google.com/search?q=bread&sca_esv=0a5fb1e02e7ab726&rlz=1C1GCEA_enSG1099SG1099&ei=o-H7ZZuDLZnvseMP37ep0AI&ved=0ahUKEwjb4PK96oSFAxWZd2wGHd9bCioQ4dUDCBA&uact=5&oq=bread&gs_lp=Egxnd3Mtd2l6LXNlcnAiBWJyZWFkMg4QLhiABBixAxjHARjRAzIIEAAYgAQYsQMyCBAuGIAEGLEDMg4QLhivARjHARixAxiABDIFEAAYgAQyCBAuGIAEGLEDMgUQABiABDIIEC4YgAQYsQMyCxAAGIAEGLEDGIMBMg4QLhiABBiKBRixAxiDATIdEC4YgAQYsQMYxwEY0QMYlwUY3AQY3gQY4ATYAQNIwg1Q8QFYuAtwAXgBkAEAmAFioAHJBKoBAjEwuAEDyAEA-AEBmAIKoAKLBMICChAAGEcY1gQYsAPCAg4QABjkAhjWBBiwA9gBAcICExAuGIAEGIoFGEMYyAMYsAPYAQLCAgYQABgWGB7CAggQABgWGB4YCsICBRAuGIAEwgIIEAAYFhgeGA_CAg4QLhgWGB4YxwEYrwEYCsICCxAuGIAEGLEDGIMBwgILEC4YgAQYxwEYrwGYAwCIBgGQBg26BgYIARABGAm6BgYIAhABGAi6BgYIAxABGBSSBwIxMKAHznc&sclient=gws-wiz-serp">
				<p>Got any bread news? Tell us!</p>
				<p>Date:<input name="date" type="text" value=""></p>
				<p>News:<textarea name="news"></textarea></p>
				<p>From:<input name="sender" type="text" value=""></p>
				<p>Do you love bread?</p>
				<p><input name="breadfan" type="radio">Yes</p>
				<p><input name="breadfan" type="radio">Yes</p>
				<p><input name="breadfan" type="radio">Yes</p>
				<p><input type="submit"></p>
			</form>
		</div>
		<br>
		<a href="https://en.wikipedia.org/wiki/Bread">Learn about bread!</a>
		<a href="mailto: teo812564@gmail.com">Contact us</a>
	</body>
</html>
		
