body {
	background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526);
}

.top {
  height: 600px;
  width: 50%;
  position: fixed;
  background-color: white;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg{
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

#img1 {
	width: 33%;
	left: 0;
	height: 600px;
	float: left;
	filter: greyscale(100%);
}

#img2 {
	width: 33%;
	left: 33%;
	height: 600px;
	float: left;
	filter: invert(100%)
}

#img3 {
	width: 33%;
	left: 66%;
	height: 600px;
	float: left;
	transform: scaleY(-1);
}