body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    background-image: url(https://e3.365dm.com/17/01/768x432/7f300145b0ec76d45c983de7ef47e14aac9c092e19f886c43b99af016e519d0b_3879114.jpg?20230213182404);
}

h1 {
    color: blue;
}