<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Bread Clicker</title>
    <link href="clicker.css" rel="stylesheet">
  </head>
  <body>
    <script src="clicker.js"></script>
    <center>
        <div id  ="info">
            <p>You have <span id = "showBread" class = "number">0</span> bread</p>
            <p>You are gaining <span id = "showBreadPerSecond" class = "number">0</span> bread per second</p>
            <p>You gain <span id = "showBreadPerClick" class = "number">1</span> bread per click</p>
        </div>
        <button type = "button" id = "breadButton" onclick = "increment()">Get bread!!!</button>
        <br>
        <button type = "button" id = "upgradeButton" onclick  = "buyOven()">Buy an oven to make <span id = "showBreadPerClick" class="number">2</span> bread with each click<br>Cost: <span id = "showOvenCost" class = "number">20</span> Bread</button>
    </center>
    <br>
    <button type = "button" id = "upgradeButton" onclick = "buyBaker()">Hire a baker to bake 1 bread per second for you<br>Cost: <span id = "showBakerCost" class = "number">10</span> Bread</button>
    <button type = "button" id = "upgradeButton" onclick = "buyTree()">Plant a bread tree to grow 10 bread per second using the power of the sun<br>Cost: <span id = "showTreeCost" class = "number">200</span> Bread</button>
    <button type = "button" id = "upgradeButton" onclick = "buyBoat()">Buy a boat to fish out 50 bread per second from the Bread Sea<br>Cost: <span id = "showBoatCost" class = "number">1500</span> Bread</button>
    <button type = "button" id = "upgradeButton" onclick = "buyBakerbot()">Manufacture a BakerBot to bake 300 bread per second; The bakers don't like them<br>Cost: <span id = "showBakerbotCost" class = "number">12000</span> Bread</button>
  </body>
</html>