body {
	background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526);
}

.top {
  height: 600px;
  width: 50%;
  position: fixed;
  background-color: white;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg{
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

#bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
  }

#img1 {
	width: 33%;
	left: 0;
	height: 100vh;
	float: left;
	filter: grayscale(100%);
}

#img2 {
	width: 33%;
	left: 33%;
	height: 100vh;
	float: left;
	filter: invert(100%)
}

#img3 {
	width: 33%;
	left: 66%;
	height: 100vh;
	float: left;
	transform: scaleY(-1);
}

.about {
	background: linear-gradient(to right, lightgreen, hotpink);
	text-align: center;
}

.box {
	margin: auto;
	border-style: solid;
	text-align: center;
	width: 75%;
	background: linear-gradient(to left, lightgreen, hotpink);
}